<div class="list-group">
  {{#each books as |book|}}
    {{#unless book.isNew}}
      {{#link-to 'books.book' book class="list-group-item"}}{{book.title}}{{/link-to}}
    {{/unless}}
  {{/each}}
</div>
