<h1>{{book.title}} <small>by {{book.author}}</small></h1>
<div>
  {{book.description}}
</div>

<div>
  {{#link-to 'books.edit' book class="btn btn-success"}}Edit Book{{/link-to}}
  <a href="" class="btn btn-danger" {{action 'deleteBook'}}>Delete Book</a>
</div>